.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;

}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;

}

.story1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/W4KfGPVh/status-1.png);
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/x8GxVJzz/status-2.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/cCG9zMrW/status-3.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/3J7fCBsC/status-4.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/9Fp8x9V3/status-5.png);
}

.story.story1 img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}