.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;

}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;

}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;

}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

}

.post-porfile-icon {
    display: flex;
    align-items: center;


}

.post-porfile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;

}

.post-row a {
    color: #9a9a9a;

}