<div class="post-row">
    <div class="user-profile">
        <img src={{post.profile_image_url}}>
        <div>
            <p>{{post.profile_name}}</p>
            <span>June 24 2021, 13:40 pm</span>
        </div>
    </div>
    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
</div>
<p class="post-text">{{post.caption}}</p>
<img src="https://i.postimg.cc/9fjhGTY6/feed-image-1.png" class="post-img">
<div class="post-row">
    <div class="activity-icons">
        <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">{{post.comment_count}}</div>
        <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">{{post.like_count}}</div>
        <div><img src="https://i.postimg.cc/T2bBchpG/share.png">{{post.share_count}}</div>
    </div>
    <div class="post-porfile-icon">
        <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
    </div>
</div>