.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 4%;
}

app-left-sidebar {
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

app-right-sidebar {
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

app-main-content {
    flex-basis: 47%;
}

@media(max-width: 900px) {
    app-right-sidebar {
        display: none;
    }

    app-left-sidebar {
        display: none;
    }

    app-navbar {
        flex-wrap: wrap;
    }
}