app-story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

app-write-post-container {
    width: 100%;
    background: var(--bg-color);
    background: red;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}